{% extends "base.html" %}
{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<div id="hello-div" class ="z-depth-5">

	<div class="header"> Welcome to ApplyForMe</div>
	<div class="caption">A journey starts with a single step.</div>
	<a class="next-buttonwaves-effect waves-light btn" href="{{url_for('form')}}">Find your jobs</a>

	</div>
	<div id="professional-div">
	<div class="header black-text">Find experienced professionals</div>
	<div class="caption black-text">Let others get your dream job for you.</div>
	<a class="next-buttonwaves-effect waves-light btn" href="{{url_for('login')}}">Make your jobs</a>

	</div>

	{% endblock %}
