<!--This file is the base template -->
<!DOCTYPE html>
    <html lang="en">
    <body>
    
    {% block content %}
    <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><strong>Hackathon</strong></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="{{ url_for('about') }}">About</a></li>
      <li><a href="{{url_for('form')}}">Form</a></li>
    <li><a href="{{ url_for('home') }}">Home</a></li>
        {% if session.firstname %}
            <li><a href="#">Log Out</a></li>
        {% else %}
        <li><a href="#">Log In</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
        


    {% endblock %}
    
   
    
    </body>
    </html>
  
