<!--This file is the base template -->
<!DOCTYPE html>
    <html lang="en">
    <body>

    {% block content %}
    <nav>
    <div class="nav-wrapper z-depth-5">
      <a href="{{url_for('home')}}" class="brand-logo"><strong>ApplyForMe</strong></a>
            <a data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        {% if session.username %}
            <li>Welcome {{ session.username['username'] }}</li>
        {% endif %}
      <li><a href="{{ url_for('home') }}"><strong>Home</strong></a></li>
      <li><a href="{{ url_for('about') }}"><strong>About</strong></a></li>
      <li><a href="{{url_for('form')}}"><strong>Search</strong></a></li>
      <li><a href="{{url_for('login')}}"><strong>Add Job</strong></a></li>

      {% if session.username %}
          <li><a href="{{url_for('confirmation')}}">Submit Job</a></li>
      {% endif %}
      {% if session.username %}
          <li><a href="{{ url_for('logout')}}"><strong>Log Out</strong></a></li>
      {% endif %}

      </ul>
        <ul class="side-nav" id="mobile-demo">
          {% if session.username %}
              <li>Welcome {{ session.username['username'] }}</li>
          {% endif %}
         <li><a href="{{ url_for('home') }}">Home</a></li>
         <li><a href="{{ url_for('about') }}">About</a></li>
         <li><a href="{{url_for('form')}}">Form</a></li>


        {% if session.username %}
            <li><a href="{{url_for('confirmation')}}">Submit Job</a></li>
        {% endif %}
        {% if session.username %}
            <li><a href="{{ url_for('logout')}}"><strong>Log Out</strong></a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  </div>
    {% endblock %}
    </body>
    </html>
